* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    color: #222;
}

/* font-family: 'Kanit', sans-serif;
font-family: 'Poppins', sans-serif; */
body {
    background-color: #b1ccf7;
    scroll-behavior: smooth;
}
/* HEADER */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 10px;
    padding: 10px;
    background-color: #f0f8ff;
    border-radius: 5px;
}

.logo {
    width: 50px;
}

header h1 {
    font-size: 3.2rem;
    font-family: 'Kanit', sans-serif;
}

/* LIST */
.pokemon-sidebar {
    margin:  2rem auto;
    width: 60%;
    border-radius: 5px;
}

.search-bar {
    width: 100%;
    padding: .5rem;
    border: none;
    border-radius: 5px 5px 0 0;
    text-align: center;
    font-size: 1.6rem;
}

.pokemon-list-container {
    height: 300px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    border-radius: 0 0 5px 5px;
}
#pokemon-list {
    list-style: none;
    text-align: center;
}

#pokemon-list li {
    padding: .8rem;
    font-size: 1.4rem;
    text-transform: capitalize;
    border-bottom: 1px solid #2e8fe9;
    background-color: #97bbf5;
    letter-spacing: 1px;
    cursor: pointer;
}

#pokemon-list li:last-of-type {
    border: none
}

/* BASE INFORMATION */
.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.table-title {
    width: 90%;
    background-color: #f0f8ff;
    border-radius: 5px 5px 0 0;
    text-align: center;
    font-size: 1.8rem;
}

.detail-id {
    font-size: 3rem;
    color: #3d3d3d;
}

.detail-image {
    width: auto;
    height: 220px;
}

.detail-name {
    margin-top: 2rem;
    font-size: 2.5rem;
    text-transform: capitalize;
}

.detail-types {
    display: flex;
    gap: 1rem;
}

.detail-type {
    padding: .2rem .5rem;
    width: 6rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
}

.detail-stat-value {
    font-weight: 700;
}

/* DESCRIPTION */
.detail-description div {
    display: flex;
    align-items: center;
    width: 90%;
    padding: 1rem 2rem 1rem 0;
    background-color: #97bbf5;
}

.detail-icon {
    width: 80px;
}

.description-text {
    font-size: 1.2rem;
    text-align: justify;
}

/* STATS */
.detail-stats ul {
    display: flex;
    flex-direction: column;
    width: 90%;
    list-style: none;
    background-color: #97bbf5;
}

.detail-stats ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border-bottom: 1px solid #2e8fe9;
}

.detail-stats ul li:last-of-type {
    border: none;
}

.detail-stats ul li span {
    flex-basis: 34%;
    font-size: 1.2rem;
}

.detail-stat-name {
    text-align: left;
}
.detail-stat-value {
    padding-right: .5rem;
    text-align: right;
}

.detail-stats ul li progress {
    height: 2rem;
}

/* INFO */
.detail-info ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
    width: 90%;
    list-style: none;
    background-color: #97bbf5;
}

.detail-info ul li {
    flex-basis: 42%;
    padding: .5rem 0;
    border-bottom: 1px solid #2e8fe9;
    text-align: left;
}
.detail-info-title {
    padding-right: .5rem;
    font-weight: 700;
}
.detail-info ul li:nth-child(odd) {
    margin-right: 2rem;
}

.detail-info ul li span {
    font-size: 1.2rem;
}

.detail-info ul li.last {
    border: none;
}

/* EVOLUTION CHAIN */
.evolutions-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    padding: 1.5rem 0;
    width: 90%;
    background-color: #97bbf5;
}

.evolution-img {
     height: 80px;
     width: 77px;
}

.evolution-paragraph {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
}