* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}

/* font-family: 'Kanit', sans-serif;
font-family: 'Poppins', sans-serif; */
body {
    background-color: #b1ccf7;
    scroll-behavior: smooth;
}
/* HEADER */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 10px;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 5px;
}

.logo {
    width: 50px;
}

header h1 {
    font-size: 3.2rem;
    font-family: 'Kanit', sans-serif;
}

/* LIST */
.pokemon-sidebar {
    margin:  2rem auto;
    width: 60%;
    border-radius: 5px;
}

.search-bar {
    display: block;
    margin: auto;
    width: 100%;
    border: none;
    border-radius: 5px 5px 0 0;
    text-align: center;
    font-size: 1.6rem;

}
.pokemon-list-container {
    height: 300px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    border-radius: 0 0 5px 5px;
}
#pokemon-list {
    list-style: none;
    text-align: center;
}
#pokemon-list li {
    padding: .8rem;
    font-size: 1.4rem;
    text-transform: capitalize;
    cursor: pointer;
    border-bottom: 1px solid #6b6b6b;
    background-color: #97bbf5;
}

#pokemon-list li:last-of-type {
    border: none
}