* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    color: #222;
}

/* font-family: 'Kanit', sans-serif;
font-family: 'Poppins', sans-serif; */
body {
    background-color: #b1ccf7;
    scroll-behavior: smooth;
}
/* HEADER */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 10px;
    padding: 10px;
    background-color: #f0f8ff;
    border-radius: 5px;
}

.logo {
    width: 50px;
}

header h1 {
    font-size: 3.2rem;
    font-family: 'Kanit', sans-serif;
}

/* LIST */
.pokemon-sidebar {
    margin:  20px auto;
    width: 60%;
    border-radius: 5px;
}

.search-bar {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px 5px 0 0;
    text-align: center;
    font-size: 1.6rem;
}

.pokemon-list-container {
    height: 56vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    border-radius: 0 0 5px 5px;
    background-color: #97bbf5;
}
#pokemon-list {
    list-style: none;
    text-align: center;
}

#pokemon-list li {
    padding: .8rem;
    font-size: 1.4rem;
    text-transform: capitalize;
    border-bottom: 1px solid #2e8fe9;
    letter-spacing: 1px;
    cursor: pointer;
}

#pokemon-list li:last-of-type {
    border: none
}

/* BASE INFORMATION */
.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.table-title {
    padding: 5px;
    width: 90%;
    background-color: #f0f8ff;
    border-radius: 5px 5px 0 0;
    text-align: center;
    font-size: 1.8rem;
}

.detail-id {
    font-size: 3rem;
    letter-spacing: 3px;
    color: #3d3d3d;
}

.detail-image {
    width: auto;
    height: 220px;
}

.detail-name {
    margin-top: 20px;
    font-size: 2.5rem;
    text-transform: capitalize;
}

.detail-types {
    display: flex;
    gap: 1rem;
    padding-bottom: 15px;
}

.detail-type {
    padding: .2rem .5rem;
    width: 6rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
}

.detail-stat-value {
    font-weight: 700;
}

/* DESCRIPTION */
.detail-description div {
    display: flex;
    align-items: center;
    width: 90%;
    padding: 10px 20px 10px 0;
    background-color: #97bbf5;
}

.detail-icon {
    width: 80px;
    height: auto;
}

.description-text {
    font-size: 1.2rem;
    text-align: justify;
}

/* STATS */
.detail-stats ul {
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 90%;
    list-style: none;
    background-color: #97bbf5;
}

.detail-stats ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #2e8fe9;
}

.detail-stats ul li:last-of-type {
    border: none;
}

.detail-stats ul li span {
    font-size: 1.2rem;
}

.detail-stat-name {
    flex-basis: 40%;
    text-align: left;
}
.detail-stat-value {
    flex-basis: 20%;
    text-align: center;
}

.detail-stats ul li progress {
    flex-basis: 40%;
    height: 20px;
    width: 100px;
}

/* INFO */
.detail-info ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0;
    width: 90%;
    list-style: none;
    background-color: #97bbf5;
}

.detail-info ul li {
    flex-basis: 42%;
    padding: 5px 0;
    border-bottom: 1px solid #2e8fe9;
    text-align: left;
}
.detail-info-title {
    padding-right: 5px;
    font-weight: 700;
}
.detail-info ul li:nth-child(odd) {
    margin-right: 20px;
}

.detail-info ul li span {
    font-size: 1.2rem;
}

.detail-info ul li.last {
    border: none;
}

/* EVOLUTION CHAIN */
.evolutions-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 15px 0;
    width: 90%;
    background-color: #97bbf5;
}

.evolution-container {
    text-align: center;
}

.evolution-img {
     height: 80px;
     width: 77px;
}

.evolution-paragraph {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
}



@media (min-width: 360px) {
    * {
        font-size: 11px;
    }
}

@media (min-width: 390px) {
    * {
        font-size: 12px;
    }
}

@media (min-width: 820px) {
    * {
        font-size: 20px;
    }

    .detail-id {
        margin-bottom: 15px;
    }
    
    .detail-image {
        height: 300px;
    }

    .detail-icon {
        width: 160px;
    }

    .evolution-img {
        height: 144px;
        width: 138px;
   }
}

@media (min-width: 1200px) {
    * {
        font-size: 12px;
    }
    .pokemon-detail {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pokemon-sidebar {
        width: 12vw;
        max-width: 210px;
        border-radius: 5px;
    }
    .search-bar {
        transition: .2s;
    }
    .search-bar:hover {
        background-color: #a8a8a8;
        color: #222;
    }
    .pokemon-name {
        transition: .2s;
        cursor: pointer;
    }

    .pokemon-name:hover {
        background-color: #2e8fe9;
    }

    .table {
        /* width: 22vw;
        min-width: 376px; */
        flex-basis: 50%;
        min-width: 270px;
    }
    .details-base {
        flex-basis: 20%;
    }
    .table-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        width: 60vw;
        min-width: 720px;
    }

    .description-content, .detail-stats ul {
        height: 200px;
    }

    .detail-icon {
        width: 180px;
    }

    .detail-info ul,
    .evolutions-container {
        height: 150px;
    }

    .detail-image {
        margin-left: 12px;
        max-width: 270px;
        height: 180px;
    }

    .detail-name {
        margin-bottom: 12px;
    }

    .evolution-img {
        height: 80px;
        width: 77px;
    }
  
    .evolution-img {
        transition: .2s;
        cursor: pointer;
    }
    .evolution-img:hover {
        transform: scale(1.15);
    }

    .description-content, .table ul, .evolutions-container, .pokemon-sidebar {
        -webkit-box-shadow: 16px 12px 21px -18px rgba(66, 68, 90, 1);
        -moz-box-shadow: 16px 12px 21px -18px rgba(66, 68, 90, 1);
        box-shadow: 16px 12px 21px -18px rgba(66, 68, 90, 1);
    }
    
    
}